
<button class="uk-icon-button uk-position-top-left uk-position-medium"
        type="button" data-uk-icon="menu" data-uk-toggle="target: #profile-overlay">
</button>

<div id="profile-overlay" data-uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>
        {% if user is defined %}

            <div class="uk-border-circle">
                <span data-uk-icon="user"></span>
            </div>

            {{ user.getUserName() }}

            <div class="uk-grid uk-child-width-1-2@m">
                <button class="mt-journey-button add-journey">
                    {{ 'app.journey.add.button.title'|trans }}
                </button>

                {% if journeyList is defined and journeyList is not empty %}
                    {% for journey in journeyList %}
                        <button class="mt-journey-button" data-id="{{ journey.getId() }}">
                            {{ journey.getTitle() }}
                        </button>
                    {% endfor %}
                {% endif %}
            </div>

        {% else %}
            <a href="/{{ app.request.locale }}/members/register" class="uk-button">
                {{ 'app.button.registration'|trans }}
            </a>
            <a href="/{{ app.request.locale }}/members/login" class="uk-button">
                {{ 'app.button.login'|trans }}
            </a>
        {% endif %}
    </div>
</div>
