<button class="uk-icon-button uk-position-top-left uk-position-medium"
        type="button" data-uk-icon="menu" data-uk-toggle="target: #profile-overlay">
</button>

<div id="profile-overlay" data-uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>
        {% if user is defined %}

            <div class="uk-border-circle">
                <span data-uk-icon="user"></span>
            </div>

            {{ user.getUserName() }}

            <div class="uk-grid uk-child-width-1-2@m">
                <button class="uk-button uk-button-default" data-uk-toggle="target: #mt-create-journey" type="button">
                    {{ 'app.journey.create.button.title'|trans }}
                </button>

                {% if journeyList is defined and journeyList is not empty %}
                    {% for journey in journeyList %}
                        <a class="mt-journey-item" href="{{ pimcore_url({
                            _locale: app.request.locale,
                            id:journey.getId()
                        }, 'mt_journey') }}">
                            {{ journey.getTitle() }}
                            {{ journey.getFrom() }}
                            {{ journey.getTo() }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

        {% else %}

            {{ pimcore_area('login-area', { 'type' : 'members_login' }) }}

            <a href="/{{ app.request.locale }}/members/register" class="uk-button">
                {{ 'app.button.registration'|trans }}
            </a>
            <a href="/{{ app.request.locale }}/members/login" class="uk-button">
                {{ 'app.button.login'|trans }}
            </a>
        {% endif %}
    </div>
</div>
