{% if user is defined %}
    <div id="mt-step-edit" class="mt-step-edit uk-offcanvas" data-uk-offcanvas="bg-close:false;">
        <div class="uk-offcanvas-bar">
            <button class="mt-edit-close uk-position-top-right uk-position-small" type="button" data-uk-close></button>

            {{ form_start(editStepForm) }}

            {{ form_row(editStepForm.title) }}

            <div class="uk-margin uk-grid uk-child-width-1-2@m">
                <div>
                    {{ form_row(editStepForm.dateFrom) }}
                </div>
                <div>
                    {{ form_row(editStepForm.timeFrom) }}
                </div>
            </div>

            <div class="uk-margin uk-grid uk-child-width-1-2@m">
                <div>
                    {{ form_row(editStepForm.dateTo) }}
                </div>
                <div>
                    {{ form_row(editStepForm.timeTo) }}
                </div>
            </div>

            <div class="uk-margin uk-grid uk-child-width-1-2@m">
                <div>
                    {{ form_row(editStepForm.lat) }}
                </div>
                <div>
                    {{ form_row(editStepForm.lng) }}
                </div>
            </div>

            {% if transportableTypeList is defined and transportableTypeList is not empty %}
                {% for transportableType in transportableTypeList %}
                    <button class="uk-icon-button  uk-margin-small-right" type="button"
                            data-transportable-type="{{ transportableType.getId() }}"
                        {% if transportableType.getIcon() is not empty %}
                            data-uk-icon="mt-{{ transportableType.getIcon() }}"
                        {% endif %}
                    ></button>
                {% endfor %}
            {% endif %}

            <div class="uk-margin">
                {{ form_row(editStepForm.update) }}
            </div>

            {{ form_end(editStepForm) }}

            <button class="mt-remove-step uk-icon-button uk-margin-top" data-uk-icon="trash"></button>

        </div>
    </div>
{% endif %}
