{% extends 'layout.html.twig' %}
{% block content %}
    {% if loginUser %}
        <div class="map uk-width-1-1" uk-height-viewport data-uk-maps="apiKey:pk.eyJ1IjoibXBrODgiLCJhIjoiY2p6MWN4enhrMDFwbjN0cGlhcmY3a3hpZCJ9.dBwvFla9os7o4UITJdy5ig;"></div>

        <button class="uk-icon-button uk-position-bottom-right uk-position-medium" type="button" data-uk-icon="plus">
        </button>

        <div class="journey-overlay" id=journey-overlay" data-uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <div class="uk-margin">
                    <label class="uk-form-label">{{ 'app.form.step.label.title'|trans }}</label>
                    <div class="uk-form-controls">
                        <input name="title" class="uk-input" type="text" placeholder="{{ 'app.form.step.label.placeholder.title'|trans }}">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label">{{ 'app.form.step.label.date.time'|trans }}</label>
                    <div class="uk-form-controls">
                        <input name="dateTime" class="uk-input" type="text" placeholder="{{ 'app.form.step.label.placeholder.date.time'|trans }}">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label">{{ 'app.form.step.label.date.time.to'|trans }}</label>
                    <div class="uk-form-controls">
                        <input name="dateTimeTo" class="uk-input" type="text" placeholder="{{ 'app.form.step.label.placeholder.date.time.to'|trans }}">
                    </div>
                </div>

                <ul class="uk-iconnav">
                    <li><a href="#" class="uk-icon" data-uk-icon="mt-car"></a></li>
                    <li><a href="#" data-uk-icon="file-edit"></a></li>
                    <li><a href="#" data-uk-icon="copy"></a></li>
                    <li><a href="#" data-uk-icon="trash"></a></li>
                </ul>

            </div>
        </div>

    {% else %}
        nicht angemeldet
    {% endif %}
{% endblock %}
